<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Main</h2>
    <form action="/paynow" method="post">
        <input type="submit" value="Transfer Money">
    </form>
    <form action="/depositmoney" method="post">
        <input type="submit" value="Deposit Money">
    </form>
    <a class="btn" href="/userlog">Userlog</a>
    <form action="deleteuserlog" method="post">
        <input type="submit" value="Delete User Log">
    </form>
    <a class="btn" href="/">Logout</a>
    </div>
</body>
